@import "variables";

/* 
* Pixel sizing 
*/
img.xxsmall {
    width: 100%;
    height: auto;
    max-width: 25px;
    padding: 5px;
}

img.xsmall {
    width: 100%;
    height: auto;
    max-width: 50px;
    padding: 5px;
}

img.small {
    width: 100%;
    height: auto;
    max-width: 100px;
}

img.medium {
    width: 100%;
    height: auto;
    max-width: 150px;
    padding: 5px;
}

img.large {
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 5px;
}

img.xlarge {
    width: 100%;
    height: auto;
    max-width: 450px;
    padding: 5px;
}

img.xxlarge {
    width: 100%;
    height: auto;
    max-width: 550px;
}

/* 
* em sizing
*/
img.xs-em {
    height: 0.75em;
}
img.sm-em {
    height: 1em;
}

img.md-em {
    height: 1.25em;
}

img.lg-em {
    height: 1.75em;
}

img.xl-em {
    height: 2em;
}

/* 
* Misc 
*/
.responsive {
    max-width: 100%;
    height: auto;
}

.home-icon {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin: 0 0 5% 0;
}

.footer-icon {
    width: 100%;
    height: auto;
    max-width: 35px;
    padding: 15px;
}

@media screen and (max-width: 991px) {
    .home-icon {
        max-width: 75px;
    }

    .footer-icon {
        width: 100%;
        height: auto;
        max-width: 25px;
        padding: 5px;
    }
}
