@import "variables";

/* 
* Pixel sizing 
*/
img.xxsmall {
    width: 100%;
    height: auto;
    max-width: 25px;
    padding: 5px;
}

img.xsmall {
    width: 100%;
    height: auto;
    max-width: 50px;
    padding: 5px;
}

img.small {
    width: 100%;
    height: auto;
    max-width: 100px;
}

img.medium {
    width: 100%;
    height: auto;
    max-width: 150px;
    padding: 5px;
}

img.large {
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 5px;
}

img.xlarge {
    width: 100%;
    height: auto;
    max-width: 450px;
}

img.xxlarge {
    width: 100%;
    height: auto;
    max-width: 550px;
}

// Fit
img.xsmall-fit {
    width: 75px;
    height: 75px;
    object-fit: scale-down;
}

img.small-fit {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

img.xmedium-fit {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}

img.large-fit {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}

/* 
* em sizing
*/
img.xs-em {
    height: 0.75em;
}
img.sm-em {
    height: 1em;
}

img.md-em {
    height: 1.25em;
}

img.lg-em {
    height: 1.75em;
}

img.xl-em {
    height: 2em;
}

// Hero //
.hero-container { 
    margin: 0 auto;
    width: 75%;
    padding: 5% 0 10% 0;
}

.headshot-bg {
    /* The image used */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/douglasrcjamescom.appspot.com/o/pro.png?alt=media&token=4d5b2556-8dc2-4195-814a-5cae892bb3b3");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: right 5% bottom;
    background-repeat: no-repeat;
    background-size: 22% auto;

    position: relative;
    z-index: 2;

    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.37,.09,.29,.97);
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        background-position: right 5% bottom -1000px;
    }
    100% {
        background-position: right 5% bottom;
    }
}


.headshot-block {
    display: none;
}

@media screen and (max-width: 1200px) {
    .headshot-block {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .hero-container { 
        width: 75%;
        padding: 10% 0;
        h1 {
            margin: 0 !important
        }
    }
}

// Social Hero //
.shero-container { 
    margin: 0 auto;
    width: 75%;
    min-height: 100vh;
    padding: 2.5% 0;
    margin-bottom: 25px;
}

.social-bg {
    /* The image used */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/douglasrcjamescom.appspot.com/o/cloudtrees-transition.png?alt=media&token=45460186-b22f-4303-98fc-e2b1e471baeb");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .shero-container { 
        width: 75%;
        padding: 10% 0;
        h1 {
            margin: 0 !important
        }
    }
}

// Video containers
.sm-video-container {
    width: 30% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.md-video-container {
    width: 60% !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

@media screen and (max-width: 900px) {
    .sm-video-container {
        width: 80% !important;
    }

    .md-video-container {
        width: 90% !important;
    }
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* 
* Misc 
*/

.responsive {
    max-width: 100%;
    height: auto;
}

.home-icon {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin: 0 0 5% 0;
}

.footer-icon {
    width: 100%;
    height: auto;
    max-width: 35px;
    padding: 15px;
}

@media screen and (max-width: 991px) {
    .home-icon {
        max-width: 75px;
    }

    .footer-icon {
        width: 100%;
        height: auto;
        max-width: 25px;
        padding: 5px;
    }
}

// Image slider
 .slider-container {
    height: 425px;
    overflow-y: hidden;
    white-space: nowrap;
    
    img {
        width: 400px;
        height: 400px;
        object-fit: scale-down;
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        // box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22);
        transition: filter 0.25s linear;
        // transition: width 0.1s linear;
        // transition: height 0.1s linear;
        filter:
            drop-shadow(0 -2px 0 $light-grey)
            drop-shadow(0 2px 0 $light-grey)
            drop-shadow(-2px 0 0 $light-grey)
            drop-shadow(2px 0 0 $light-grey)
            drop-shadow(5px 2.5px 4px rgba(0,0,0,0.22))
    }
    img:hover {
        cursor: pointer;
        filter:             
            drop-shadow(0 -2px 0 $light-yellow)
            drop-shadow(0 2px 0 $light-yellow)
            drop-shadow(-2px 0 0 $light-yellow)
            drop-shadow(2px 0 0 $light-yellow)
            drop-shadow(5px 5px 4px $light-yellow);
    }

}

.simplebar-scrollbar::before {
    background-color: $blue;
  }

.ril__inner {
    margin-top: 75px;
}

.ril-next-button, .ril-prev-button {
    background-color: $xlight-blue !important;
}