@import "variables";

/* 
* Pixel sizing 
*/
img.xxsmall {
    width: 100%;
    height: auto;
    max-width: 25px;
    padding: 5px;
}

img.xsmall {
    width: 100%;
    height: auto;
    max-width: 50px;
    padding: 5px;
}

img.small {
    width: 100%;
    height: auto;
    max-width: 100px;
}

img.medium {
    width: 100%;
    height: auto;
    max-width: 150px;
    padding: 5px;
}

img.large {
    width: 100%;
    height: auto;
    max-width: 300px;
    padding: 5px;
}

img.xlarge {
    width: 100%;
    height: auto;
    max-width: 450px;
    padding: 5px;
}

img.xxlarge {
    width: 100%;
    height: auto;
    max-width: 550px;
}

// Fit
img.xsmall-fit {
    width: 75px;
    height: 75px;
    object-fit: scale-down;
}

img.small-fit {
    width: 100px;
    height: 100px;
    object-fit: scale-down;
}

img.xmedium-fit {
    width: 250px;
    height: 250px;
    object-fit: scale-down;
}

img.large-fit {
    width: 300px;
    height: 300px;
    object-fit: scale-down;
}

/* 
* em sizing
*/
img.xs-em {
    height: 0.75em;
}
img.sm-em {
    height: 1em;
}

img.md-em {
    height: 1.25em;
}

img.lg-em {
    height: 1.75em;
}

img.xl-em {
    height: 2em;
}

// Hero //
.hero-container { 
    margin: 0 auto;
    width: 75%;
    padding: 5% 0 10% 0;
}

.headshot-bg {
    /* The image used */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/douglasrcjamescom.appspot.com/o/professional-bg.png?alt=media&token=35293e4d-9bf7-4c74-af77-442c1768a1ef");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1400px) {
    .headshot-bg {
        background-image: none;
      }
}

@media screen and (max-width: 900px) {
    .hero-container { 
        width: 75%;
        padding: 10% 0;
        h1 {
            margin: 0 !important
        }
    }
}

// Social Hero //
.shero-container { 
    margin: 0 auto;
    width: 75%;
    min-height: 100vh;
    padding: 2.5% 0;
    margin-bottom: 25px;
}

.social-bg {
    /* The image used */
    background-image: url("https://firebasestorage.googleapis.com/v0/b/douglasrcjamescom.appspot.com/o/cloudtrees-transition.png?alt=media&token=45460186-b22f-4303-98fc-e2b1e471baeb");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 900px) {
    .shero-container { 
        width: 75%;
        padding: 10% 0;
        h1 {
            margin: 0 !important
        }
    }
}

/* 
* Misc 
*/
.responsive {
    max-width: 100%;
    height: auto;
}

.home-icon {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin: 0 0 5% 0;
}

.footer-icon {
    width: 100%;
    height: auto;
    max-width: 35px;
    padding: 15px;
}

@media screen and (max-width: 991px) {
    .home-icon {
        max-width: 75px;
    }

    .footer-icon {
        width: 100%;
        height: auto;
        max-width: 25px;
        padding: 5px;
    }
}

// Image slider
 .slider-container {
    height: 425px;
    overflow-y: hidden;
    white-space: nowrap;
    
    img {
        width: 400px;
        height: 400px;
        object-fit: scale-down;
        display: inline-block;
        vertical-align: middle;
        margin: 5px;
        transition: filter 0.25s linear;
        // transition: width 0.1s linear;
        // transition: height 0.1s linear;
        filter:
        /* Each shadow becomes part of the image and the next filter
            adds a shadow beneath it, so we have to be very careful. */
            drop-shadow(0 -2px 0 $light-grey)
            drop-shadow(0 2px 0 $light-grey)
            drop-shadow(-2px 0 0 $light-grey)
            drop-shadow(2px 0 0 $light-grey);
    }
    img:hover {
        // width: 410px;
        // height: 410px;
        cursor: pointer;
        filter:
        /* Each shadow becomes part of the image and the next filter
            adds a shadow beneath it, so we have to be very careful. */
            drop-shadow(0 -2px 0 $light-yellow)
            drop-shadow(0 8px 0 $light-yellow)
            drop-shadow(-2px 0 0 $light-yellow)
            drop-shadow(2px 0 0 $light-yellow);
    }

}

.simplebar-scrollbar::before {
    background-color: $blue;
  }

.ril__inner {
    margin-top: 75px;
}

.ril-next-button, .ril-prev-button {
    background-color: $xlight-blue !important;
}