@import "variables";
   /* -------------------------------------------------- */
  /* Any other CSS objects that don't fit in elsewhere  */
 /* -------------------------------------------------- */

/* 
* Borders 
*/
.sm-border {
    border-style: solid;
    border-width: 1px;
    border-color: $blue;
}

.md-border {
    border-style: solid;
    border-width: 3px;
    border-color: $blue;
}

.lg-border {
    border-style: solid;
    border-width: 5px;
    border-color: $blue;
}

.left-border {
    border-left: 6px solid $blue;
    padding: 10px 0px 10px 5px;
}


.border-green {
    border: 5px solid $green;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

/* 
* Display 
*/
.display-block {
    display: block;
}
.display-inline-block {
    display: inline-block;
}
.display-inline {
    display: inline;
}
.hide {
    display: none !important;
}

/* 
* Overflow 
*/
.overflow-div {
    overflow-x:auto;
}
.clearfix {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}

/*
* Background colors 
*/
.full-width {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 5% 0;
    display: flex;
    align-items: center;
    h1 {
        margin-top: 0 !important;
    }
    .wrapper {
        padding: 0 !important;
    }
  }

@media screen and (max-width: 900px) {
    .full-width {
        padding: 10% 0;
    }
}

.bg-blue {
    background: $blue
}

.bg-white {
    background: $white
}

.bg-black {
    background: $black
}

/* 
* Table 
*/
table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-size: 1.5em;
    font-weight: bolder;
    margin: .5em 0 .75em;
    color: $blue;
    text-align: left;
}

.price {
    text-align: right;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid $light-grey;
}

thead {
 background-color: $light-blue;
 color: $white;
}

tbody tr:hover {
    background-color: $xlight-blue;
}

/* 
* Card 
*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

@media screen and (min-width: 901px) {
    .card {
        padding: 2%;
    }
}

@media screen and (max-width: 900px) {
    .card {
        padding: 5%;
    }
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* 
* Misc 
*/
.rounded {
    border-radius: 50%;
}  

.cursor-pointer {
    cursor: pointer;
}

hr {
    height: 1px;
    background-color: $light-grey !important;
    border: 0 none;
}

.big-icon-btn {
    border: $blue 4px solid;
    border-radius: 8px;
    background-color: $white;
    padding: 20px;
    text-decoration: none !important;
    transition: border-radius 0.1s linear;
    color: $black !important;
    div {
        img {
            width: 100%;
            height: auto;
            max-width: 50px;
        }
        p {
            font-size: 12px;
            font-family: $roboto-bold !important;
            margin: 0;
        }
    }
}

.big-icon-btn:hover {
    border-radius: 30px;
}

.big-icon-btn:active {
    border-radius: 40px;
}

// Timeline
.timeline-x-scroll {
    overflow-x: hidden;
}

.custom-line:before {background: $blue;}

.vertical-timeline-element-icon {
    -webkit-box-shadow: 0 0 0 4px $blue, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
    box-shadow: 0 0 0 4px $blue, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}

.vertical-timeline-element-subtitle {
    font-family: $roboto-bold;
}

.vertical-timeline-element-date {
    color: $dark-blue;
    opacity: 1 !important;
    pointer-events:none;
}

.vertical-timeline-element-content {
    transition: background-color 0.25s linear;
    span.status-icon {
        position: absolute;
        top: 25px;
        right: 40px;
        display: block;
        font-size: 16px;
    }
    span.view-btn {
        display: none;
    }
}

.vertical-timeline-element-content:hover {
    background-color: $white !important;
    border: 2px $blue solid;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
    cursor: pointer;
    .vertical-timeline-element-content-arrow {
        border-right: 7px solid $blue !important;
    }
    h3 {
        color: $blue;
    }
    h4 {
        color: $blue;
    }
    p {
        color: $blue;
    }
    span.view-btn {
        position: absolute;
        top: 25px;
        right: 40px;
        color: $dark-green !important;
        display: block;
        font-size: 16px;
        transition: font-size 0.1s linear;
    }
    span.view-btn:hover {
        font-size: 20px;
    }
    span.status-icon { 
        display: none;
    }
}

@media screen and (max-width: 1169px) {
    .vertical-timeline-element-date {
        color: $white;
    }

    .vertical-timeline-element-content:hover {
        .vertical-timeline-element-date {
            color: $blue;
        }
    }
}


// Misc

.horiz-rule:before,
.horiz-rule:after {
  margin: auto;
  display: block;
  width: 45%;
  border-bottom: 1px solid black;
  content: "";
}

.doug-card {
    border: 2px $blue solid;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 10px;
    background-color: $vlight-blue;
    box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22)
}

.accolade {
    div {
        display: inline-block;
        border: 2px $blue solid;
        border-radius: 4px;
        padding: 10px 20px;
        margin: 10px;
        background-color: $vlight-blue;
        max-width: 100px;
        text-align: center;
        box-shadow: 0 3px 7px rgba(0,0,0,0.25), 0 2px 2px rgba(0,0,0,0.22)
    }
    img {
        width: 75px;
        height: 75px;
        object-fit: scale-down;
        padding: 5px;
    }
    label {
        display: block;
        font-family: $roboto-black !important;
        color: $blue !important;
        font-size: 20px;
    }

    @media screen and (max-width: 1100px) {
        div {
            padding: 5px 10px;
            margin: 5px;
        }
    }

}

 


